/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Roboto:wght@400;500;700&display=swap');

/* Font family  */
.Bebas{
font-family: 'Bebas Neue', sans-serif;
}
.Montserrat{
    font-family: 'Montserrat', sans-serif;
}
.Roboto{
    font-family: 'Roboto', sans-serif;
}